

<style>
  

    </style>


    




<!-- header -->
<div  role="banner">

  <span class="logo">ORION</span>
  
    

<div  role="main">
<div class="login-header col-6">
      <img src="assets/images/image 99.png" class="login-img">
     <form>
          <h3>Login</h3>
          <p style="font-size: 14px !important; padding-left: 102px;">Don’t have an account ? <a href="#">Sign Up</a></p>
          <label for="username">Username</label>
          <input type="text" placeholder="Email or Phone" id="username" name="username">
  
          <label for="password">Password</label>
          <input type="password" placeholder="Password" id="password" name="password">
        <div class="remember-me">
          <div class="pull-left ">
            <input class="rem-checkbox" type="checkbox" id="rememberMe" name="rememberMe"  />
            <label style="font-size: 14px !important; margin:0px;" >Remember Me</label>
          </div>
          <div class="forgotpass pull-right">
            <a  style="font-size: 14px !important; padding-top: 20px;">Forgot your password?
            </a>
            </div>
          </div>
<div style="width: 100%; flex-direction: column;">
          <button>Log In</button>
          <button  class="second-button">Try Demo</button>
          <!-- <button class="second-button">Try Demo</button>  -->
          <h5 style="padding:1px 0px 0px 190px; font-weight: 100;">or</h5>
           <div class="social"> 
            <div class="go"><img src="assets/images/download.png" class="logo-img">&nbsp;Login using Google account</div>
             <div class="fb"><img src="assets/images/263069.png" class="logo-img">&nbsp;Login using SSL passcode</div>
           </div> 
        </div>
      </form>
 
  
</div></div>
<router-outlet></router-outlet>
